
@{
    ViewBag.Title = "PageProducts";
}

<div ng-app="myApp" ng-controller="CtrlProducts">
    <table class="table table-striped table table-hover table table-condensed">

        <thead>
            <tr>
                <th>Name of product</th>
                <th>Description</th>
            </tr>
        </thead>
        <tr ng-repeat="x in myWelcome">
            <td>{{x.NameOfProducts}}</td>
            <td>{{x.Description}}</td>
        </tr>
        <tr><td><a href="http://localhost:18540/Home/Index">Go Back</a></td><td></td></tr>
    </table>

</div>
@section scripts
{
    <script src="https://code.angularjs.org/1.2.6/angular.js"></script>
    <script>
        var url_string = window.location.href;
        var url = new URL(url_string)
        var id = url.searchParams.get("id");
        angular.module("myApp", []);
    </script>
    <script src="~/Angular/Controller/CtrlProducts.js"></script>
}

